/*Style fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Fascinate+Inline&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Knewave&family=Sora:wght@100..800&display=swap');
/*Style fonts ends here */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #f5f5f5;
}
/* Header starts here */
/* navigation */

ul {
  display: flex;                
  justify-content: flex-end; 
  list-style-type: none;
  background-color: #0e306c;
}


ul li a {
  font-family: "Sora", Arial, Helvetica, sans-serif;
  font-size:20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #446db2;
}

/* Background image Home*/

.container {
  position: relative;
  height:70vh;
  min-height: 350px;
  max-height: 900px;
  overflow: hidden;
  text-align: center;
  color: white;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(80%);
}

.centered h1 {
  font-family: "Knewave", Arial, Helvetica, sans-serif;
  font-size: clamp(45px, 8vw, 150px); /*responsive font size*/
  color: antiquewhite;
  -webkit-text-stroke: 1px #422b08; /*font border*/
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /*keep text in the same line*/
}

.centered p {
  font-family: "Chicle", Arial, Helvetica, sans-serif;
  font-size: clamp(22px, 3vw, 50px);
  color: rgb(76, 47, 3);
  -webkit-text-stroke: 1px #fceacd; /*font border*/
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* header ends here*/

/* homepage main starts here */

.introduction {
  max-width: 900px;
  margin: 80px auto;  
  padding: 0 20px;
  text-align: center;
}

/* section 1 */
.main-title h2 {
  font-family: "Sora", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(26px, 4vw, 40px);
  color: #0e306c;
  text-align: center;
  padding: 24px;
  margin:10px;
  margin-bottom:20px;
}

.main-text p {
  font-family: "Sora", Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.8;
  color: black;
}

/* section 2*/

.introduction-extra {
  display: flex;
  justify-content: center;
  gap:20px;
  margin: 100px auto;
  max-width: 1100px;
  padding: 0 20px;
}

.box {
  flex: 1;
  padding: 60px 30px;
  text-align: center;
  font-weight: 500;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  font-family: "Sora", Arial, Helvetica, sans-serif;
}

.box h3 {
  font-size: clamp(20px, 3vw, 27px);
}

.box p {
  font-size: clamp(16px, 2vw, 20px);
  padding-top: 20px;
}

.white {
  background-color: white;
}
.blue {

   background-color: #0093dd;
}
.yellow {

   background-color: #f6b800;
}
/* ====== Destinations page style starts here =============*/

#destinations-background-img {
    width: 100%;
    max-width: none;
    height: 300px;
    margin: 0 0 80px 0;
    padding: 0 20px;

    background-image:
        linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
        url('../images/sand.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#destinations-background-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background: linear-gradient(to bottom, rgba(255,255,255,0), #f5f5f5);
}

#destinations-background-img .main-text {
    max-width: 800px;
    margin: 0 auto;
}

#destinations-background-img .main-text p {
    text-align: center;   
    color: black;
    font-weight: 500;
}

.destination-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 110px;
      margin: 100px auto;
      max-width: 1250px;
      padding: 0 40px;
}

.destination-container.reverse {
    flex-direction: row-reverse;
}

.destination-image img {
    width: 580px;
    max-width: 1000px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
    transition: transform 0.3s ease;
}

.destination-image img:hover {
    transform: scale(1.03);
}
.destination-info {
    max-width: 430px;
}

.destination-info h3 {
    font-size: 2.2rem;
    margin: 10px 0 15px;
    font-family: "Sora", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0e306c;
}

.destination-info p {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;
    color: black;
    font-family: "Sora", Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

.destination-info .destination-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color:#f6b800;
    color: #0e306c;
    font-family: "Sora", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    padding: 14px 26px;
    border-radius: 30px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.destination-info .destination-button:hover {
    background-color:#0093dd;
     color: black;
     text-decoration: none;
}

.destination-info .destination-button i {
    transition: transform 0.3s ease;
}

.destination-info .destination-button:hover i {
    transform: translateX(5px);
}
/* ====== Things To Do page style starts here =============*/

#activities-background-img {
    width: 100%;
    max-width: none;
    height: 400px;
    margin: 0 0 80px 0;
    padding: 0 20px;

    background-image:
        linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
        url('../images/activities.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#activities-background-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background: linear-gradient(to bottom, rgba(255,255,255,0), #f5f5f5);
}

#activities-background-img .main-text {
    max-width: 800px;
    margin: 0 auto;
}

#activities-background-img .main-text p {
    text-align: center;   
    color: black;
    font-weight: 500;
}

.activities-container {
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 100px auto;
    max-width: 1100px;
    padding: 0 20px;
}

.activities-content {
  flex: 1;
  text-align: center;
  padding: 20px 30px;
  font-weight: 500;
  color: black;
  /*border: 1px solid black;*/
  border-radius: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
  /*box-shadow: 5px 10px #888888;*/
  font-family: "Sora", Arial, Helvetica, sans-serif;
  background-color:antiquewhite;
}

.activities-content img {
    box-shadow: 5px 5px #888888;
    width: 580px;
    max-width: 1000px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.activities-info h3{
  font-size: clamp(20px, 3vw, 27px);
  color: #0e306c;
  font-weight: bold;
}

.activities-info p{
  font-size: clamp(16px, 2vw, 20px);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.activities-info a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color:#f6b800;
    color: #0e306c;
    font-weight: bold;
    border: none;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.activities-info a:hover {
    background-color:#0093dd;
    color: black;
    text-decoration: none;
}

/*================ Footer starts here=====================*/

footer {
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: #0e306c;
  padding: 15px;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;             
}

footer ul li {
  list-style: none;
}

footer a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: "Sora", Arial, Helvetica, sans-serif;
}

footer a:hover {
  color: #91a9d4

}

#copyright {
  color: white;
  font-family: "Sora", Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:20px;
}


@media only screen and (max-width: 1583px ) {
    
  .centered p {
    top: 32%;
  }
}


@media only screen and (max-width: 1095px ) {

  .centered p {
    top: 30%;
  }

  /* ===== Destinations Responsive ===== */
  .destination-container,
    .destination-container.reverse {
        flex-direction: column;
        gap: 35px;
        margin: 70px auto;
        padding: 0 25px;
        text-align: center;
    }

    .destination-image img {
        width: 100%;
        max-width: 100%;
        height: 280px;
    }

    .destination-info {
        max-width: 100%;
    }

    .destination-info h3 {
        font-size: 2rem;
    }

}


@media only screen and (max-width: 973px ) {
    
  .centered p {
    top: 32%;
  }

} 


@media only screen and (max-width: 879px ) {
    
  .centered p { 
    display: none;
  }

} 

/*Tablet Responsive*/
@media only screen and (max-width: 768px) {
  /* ===== Homepage Responsive ===== */
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  ul li a {
    font-size: 14px;
    padding: 10px;
  }
  
  .introduction-extra {
    flex-direction: column;
    height: auto;
    padding: 0 20px;
    gap: 25px;
  }

  .box {
    margin: 0;
  }
  /* ===== Destinations Responsive ===== */
  .destination-container,
    .destination-container.reverse {
        flex-direction: column;
        gap: 35px;
        margin: 70px auto;
        padding: 0 25px;
        text-align: center;
    }

    .destination-image img {
        width: 100%;
        max-width: 100%;
        height: 280px;
    }

    .destination-info {
        max-width: 100%;
    }

    .destination-info h3 {
        font-size: 2rem;
    }
}

/*Mobile Responsive*/
@media only screen and (max-width: 480px) {
  /* ===== Homepage Responsive ===== */
  .centered h1 {
    font-size: 42px;
  }

  .main-title h2 {
    font-size: 24px;
  }

  .main-text p {
    font-size: 16px;
    text-align: left;
  }

  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  footer ul li {
    flex: 0 0 auto;
  }

  #copyright {
    flex: 0 0 100%; 
    text-align: center;
    margin-bottom: 5px;
  }
    /* ===== Destinations Responsive ===== */

    #destinations-background-img {
    height: 400px;
}
    .destination-container,
    .destination-container.reverse {
        gap: 25px;
        margin: 50px auto;
        padding: 0 18px;
    }

    .destination-image img {
        height: 220px;
        border-radius: 15px;
    }

    .destination-info h3 {
        font-size: 1.7rem;
    }

    .destination-info p {
        font-size: 0.95rem;
        line-height: 1.6;
    }

    .destination-info button {
        padding: 12px 20px;
        font-size: 0.85rem;
    }
}


